name: Saturday PM

on:
  workflow_dispatch:
  schedule:
    - cron: "1 10 * * 6"

jobs:
  Back: 
   runs-on: ubuntu-latest
   steps:
    - name: what's the time
      run: date
    - name: perspective property
      run: |
         echo "Applied to a parent container, this establishes a shared 3D space and a single vanishing point for all its child elements"
    - name: value
      run: |
         echo "A length unit (e.g., 500px) that defines the distance from the user to the Z=0 plane."
    - name: wide-angle
      run: |
         echo "A smaller value creates a more intense"
    - name: telephoto
      run: |
         echo "a larger value results in a more subtle"